.s1{
    width: 70px;
    height: 70px;
    border: 1px solid black;
    float: left;
    box-sizing: border-box;
    padding: 25px;
    background-color: greenyellow;
    margin: 5px;
}
.cl{
    clear: both;
}